body{
background-color:pink
}

table{
border-color:blue;
border-style:solid;
background-color:yellow
}

form{
background-color:lightblue
}

input[type="submit"], textarea{
border-radius:2px;
box-shadow:black
}
.email
{
border-radius:2px;
box-shadow:black;
border-color:pink
}

.objet
{
border-radius:2px;
box-shadow:black;
border-color:pink
}

.message{
border-radius:2px;
box-shadow:black;
border-color:pink
}
